<!--

.homepageFoot {font-size: 70%;font-family: verdana, arial, sans-serif;}


.blueToolsBar {background: #2A3453;color: #FFFFFF;padding: 0px 6px;border:2px groove #C8C8F2;line-height: 28px;white-space: nowrap;font-size: 100%;font-family: arial, verdana, sans-serif;}

.blueToolsTable {color: #FFFFFF;white-space: nowrap;font-size: 100%;font-family: arial, verdana, sans-serif;}

.themesCell {color: #334048;border: 1px solid #C1CDCD;font-size: 100%;padding: 0px;text-align: justify;font-family: verdana, arial, sans-serif;}

.themesCaption {background-image:url(../images/themesCaptionBg.gif);background-repeat: repeat-x;color:#004444;font-weight: normal;font-size: 100%;padding: 1px 4px;text-align: center;font-family: verdana, arial, sans-serif;}


.chapterTitleFirst {color: #FFFFFF;font-weight: bold;font-size: 18px;letter-spacing: 1px;font-family: Geneva, Tahoma, sans-serif;}

.chapterTitleRest {background: #851920;color:#FFFFFF;line-height: 1.1em;padding: 2px 10px;border: 2px groove #EC9999;font-weight: bold;font-size: 12px;font-family: Geneva, Tahoma, sans-serif;}

.squareHeader {width: 162px;height: 16px;background: #FCBE00;color:#000000;font-weight: bold;font-size: 10px;cursor: pointer;border: groove 2px #CFCCAE;text-indent: 2px;font-family: verdana, arial, sans-serif;}
.squareOverHeader {width: 162px;height: 16px;background: #FCBE00;color:#FFFFFF;font-weight: bold;font-size: 10px;cursor: pointer;border: dotted 1px #FFFFFF;text-indent: 8px;font-family: verdana, arial, sans-serif;}


.indentFirst {color:#000000;font-weight: normal;font-size: 12px;margin-left: 150px;text-align: justify;font-family: verdana, arial, sans-serif;}
.areaText {color:#000000;font-weight: normal; font-size: 12px;padding: 7px;font-family: verdana, arial, sans-serif;}
.headerText {color:#191970;font-weight: bold;font-size: 13px;font-family: verdana, arial, sans-serif;}
.nText {color:#000000;white-space: normal;font-weight: normal;font-style: normal;font-size: 12px;font-family: verdana, arial, sans-serif}
P.nText {color:#000000;font-weight: normal;text-align: justify;padding: 0px 20px;font-style: normal;font-size: 12px;font-family: verdana, arial, sans-serif;}
.uText {color:#000000;text-decoration: underline;font-weight: normal;font-size:  100%;text-align: justify;font-family: verdana, arial, sans-serif;}
.dText {color:#000000;font-weight: normal;font-size: 12px;text-align: right;font-family: verdana, arial, sans-serif;}
.bText {color:#000000;font-weight: bold;font-size: 12px;font-family: verdana, arial, sans-serif;}
.bdText {color:#000000;font-weight: bold;font-size: 12px;text-align: right;font-family: verdana, arial, sans-serif;}
.atenText {color:#818181;font-weight: normal;font-size: 12px;font-family: verdana, arial, sans-serif;}
.ateniText {color:#818181;font-weight: normal;font-size: 12px;font-style: italic;font-family: verdana, arial, sans-serif;}
.iText {color:#000000;font-weight: normal;font-size: 12px;font-style: italic;font-family: verdana, arial, sans-serif;}
.cText {color: #000000;font-weight: normal;font-size: 12px;text-align: center;font-family: verdana, arial, sans-serif;}
.cBigText {color: #000000;font-weight: normal;font-size: 14px;text-align: center;font-family: verdana, arial, sans-serif;}
.superBigText {color: #000000;font-weight: normal;font-size: 18px;font-family: verdana, arial, sans-serif;}
.rText {color: #191970;font-weight: bold;font-size: 12px;font-family: verdana, arial, sans-serif;}
.riText {color: #191970;font-weight: bold;font-size: 12px;font-style: italic;font-family: verdana, arial, sans-serif;}
.ruText {color: #191970;text-decoration: underline;font-weight: bold;font-size: 12px;font-family: verdana, arial, sans-serif;}
.specText {color: #35646D;font-weight: normal;font-size: 12px;font-style: italic;font-family: verdana, arial, sans-serif;}
.bspecText {color: #35646D;font-weight: bold;font-size: 12px;font-style: italic;font-family: verdana, arial, sans-serif;}
.displayText {color: #35646D;font-weight: normal;font-size: 12px;font-family: verdana, arial, sans-serif;}
.bnspecText {color: #35646D;font-weight: bold;font-size: 12px;font-family: verdana, arial, sans-serif;}
.indentText {color: #000000;font-weight: normal;font-size: 12px;margin-left: 42px;font-family: verdana, arial, sans-serif;}
.fText {color: #A3051A;font-weight: normal;font-size: 12px;font-family: verdana, arial, sans-serif;}
.fitText {color: #A3051A;font-weight: normal;font-size: 12px;font-style: italic;font-family: verdana, arial, sans-serif;}
.outstandText {color: #A3051A;font-weight: bold;font-size: 12px;font-family: verdana, arial, sans-serif;}
.signText {color: #35646D;font-weight: normal;font-size: 12px;font-style: italic;text-align: right;font-family: verdana, arial, sans-serif;}
.noteText {color: #000000;font-weight: normal;font-size: 11px;font-style: italic;font-family: verdana, arial, sans-serif;}
.noteRightText {color: #000000;font-weight: normal;font-size: 12px;text-align: right;font-style: italic;font-family: verdana, arial, sans-serif;}
.codText {color: #003366;font-weight: normal;font-size: 13px;font-family: tahoma, verdana, arial, sans-serif;}
.markText {color: #CC0000;font-weight: bold;font-size: 12px;font-family: verdana, arial, sans-serif;}
.textSearch {color:#FFFFFF;font-weight: normal;font-size: 11px;font-family: verdana, arial, sans-serif;}
.wText {color:#FFFFFF;font-weight: normal;font-size: 12px;font-family: verdana, arial, sans-serif;}
.epigraphText {background: #191970;color: #FFFFFF;padding: 3px;font-weight: bold;font-size: 12px;font-style: normal;font-family: verdana, arial, sans-serif;}

.hpContents {color: #000000;font-size: 12px;font-family: verdana, arial, sans-serif;}

.sectionTable {font-size: 100%;font-family: verdana, arial, sans-serif;}

.sectionHeader {background: #CBDCDB;color: #2A3453;
line-height: 1.0em;
margin-right: 20px;
padding: 3px 14px;
border-right: 1px solid #4F7573;
border-bottom: 1px solid #4F7573;
border-left: 0px solid #80AAA8;
border-top: 0px solid #80AAA8;
font-weight: bold;
font-size: 12px;
font-family: verdana, arial, sans-serif;
} 


.mapTable {background: #F9F8F4;color:#000000;border: 1px solid #BDC5CE;font-weight: normal;font-size: 100%;font-family: verdana, arial, sans-serif;}

.mapHeader {
	background: #CBDCDB;
	margin-left: -32px;
	margin-right: 12px;
	padding: 2px 6px;
	line-height: 1.0em;
	border-right: 1px solid #4F7573;
	border-bottom: 1px solid #4F7573;
	border-left: 0px solid #80AAA8;
	border-top: 0px solid #80AAA8;
	font-size: 100%;
	font-weight: normal;
	font-family: verdana, arial, sans-serif;
} 


.zoneHeaderLeft {background: #C8C8B9;color: #645C4A;
height: 22px;
border-left: 0px groove #645C4A;
border-top: 0px groove #645C4A;
border-bottom: 1px groove #645C4A;
cursor: pointer;
padding-top: 3px;
padding-bottom: 0px;
padding-left: 30px;
padding-right: 20px;
text-align: left;
vertical-align: middle;font-size: 11px;font-weight: bold;font-family: verdana, arial, sans-serif;}

.zoneHeaderRight {background: #C8C8B9;color: #645C4A;
height: 22px;
border-right: 0px groove #645C4A;
border-top: 0px groove #645C4A;
border-bottom: 1px groove #645C4A;
cursor: pointer;
padding-top: 3px;
padding-bottom: 0px;
padding-left: 6px;
padding-right: 6px;
text-align: center;
vertical-align: middle;font-size: 11px;font-weight: bold;font-family: verdana, arial, sans-serif;}


.linkCellOff {color: #EDEDED;border: 1px solid #B1C0BF;
cursor:pointer;
padding-top: 1px;
padding-bottom: 1px;
padding-left: 20px;
padding-right: 20px;
text-align: center;vertical-align: middle;font-size: 11px;font-weight: bold;font-family: verdana, arial, sans-serif;}

.linkCellOVer {background: #698382;color: #FFDF00;border: 1px solid #B1C0BF;
cursor:pointer;
padding-top: 1px;
padding-bottom: 1px;
padding-left: 20px;
padding-right: 20px;
text-align: center;vertical-align: middle;font-size: 11px;font-weight: bold;font-family: verdana, arial, sans-serif;}


.relatedText {background: #EAE8E3;color: #000000;padding: 2px 5px;text-align: right;font-style: italic;font-size: 11px;font-family: verdana, arial, sans-serif;}

.inputField {background: #E1E1C8;font-weight: normal; font-size: 12px; text-align:left; color:#000000;border: 1px inset #C8C8F2;font-family: arial, sans-serif;}

.searchInput {background: #E1E1C8;font-weight: normal; font-size: 11px; text-align:left; color:#000000;border: 1px solid #C8C8F2;font-family: arial, sans-serif;}

.labelI {background: #F7F7F7;color:#000000;padding-left: 2px;text-align: left;font-size: 11px;font-family: verdana, arial, sans-serif;}
.labelD {background: #F7F7F7;color:#000000;padding-right: 2px;text-align: right;font-size: 11px;font-family: verdana, arial, sans-serif;}

.areaTableHeader {background: #F7F7F7;color:#000000;padding: 0px 2px;font-size: 11px;font-weight: bold;font-family: verdana, arial, sans-serif;}

ul.pagesTitle {position: relative;left: 30px;list-style-image: url("../images/listLaunch.gif");list-style-position: outside;color:#446B75;font-weight: bold;font-size: 100%;font-family: verdana, arial, sans-serif;}

.pagesAbstract {color:#000000;font-weight: normal;font-size: 12px;font-family: verdana, arial, sans-serif;}


ul.1itemDoc {list-style-image: url("../images/list.gif");list-style-position: outside;line-height: 1.5em;color:#000000;font-weight: normal;font-size: 12px;font-family: verdana, arial, sans-serif;}
ul.1itemText {list-style-image: url("../images/1itemText.gif");list-style-position: outside;color:#000000;font-weight: normal;font-size: 12px;font-family: verdana, arial, sans-serif;}
ul.item1Text {list-style-image: url("../images/1itemText.gif");list-style-position: outside;color:#000000;font-weight: normal;font-size: 12px;font-family: verdana, arial, sans-serif;}
ul.item11Text {list-style-image: url("../images/11itemText.gif");list-style-position: outside;color:#000000;font-weight: normal;font-size: 12px;font-family: verdana, arial, sans-serif;}
ul.Big1ItemText {list-style-image: url("../images/1BigItemText.gif");list-style-position: outside;color:#000000;font-weight: normal;font-size: 12px;font-family: verdana, arial, sans-serif;}
ul.item12Text {list-style-image: url("../images/11itemText1.gif");list-style-position: outside;color:#000000;font-weight: normal;font-size: 12px;text-indent: -30px;font-family: arial, sans-serif;}
ul.item2Text {list-style-image: url("../images/2itemText.gif");list-style-position: outside;color:#000000;text-indent: 0px;font-weight: normal;font-size: 12px;font-family: arial, sans-serif;}
ul li.item3Text {list-style-image: url("../images/3itemText.gif");list-style-position: outside;color:#000000;text-indent: 0px;font-weight: normal;font-size: 12px;font-family: arial, sans-serif;}
ul.item4Text {list-style-image: url("../images/4itemText.gif");list-style-position: outside;color:#000000;text-indent: 0px;font-weight: normal;font-size: 11px;font-family: verdana, arial, sans-serif;}
ul.item3Table {list-style-image: url("../images/3itemText.gif");list-style-position: outside;color:#000000;font-weight: normal;font-size: 12px;text-indent: -2px;font-family: arial, sans-serif;}

ul.checkList {list-style-image: url("../images/checkList.gif");list-style-position: outside;color:#000000;padding-left: 30px;font-weight: normal;font-size: 14px;font-family: verdana, arial, sans-serif;}

ol.item1Number 
{
	list-style-type: decimal;
	list-style-position: outside;
	color: #191970;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	font-family: verdana, arial, sans-serif;
}
li.item1HiddenNumber {list-style: none;color:#191970;display: inline;font-weight: bold;font-size: 12px;font-family: verdana, arial, sans-serif;}


.item2Number {list-style-type: none;color:#191970;font-weight: bold;font-style: normal;}
ol.item2OrdNumber {list-style-type: decimal;color:#719999;font-weight: bold;font-size: 100%;font-family: verdana, arial, sans-serif;}
ol.item3Number {list-style-type: decimal;list-style-position: outside;color:#000000;font-weight: normal;font-style: italic;font-size: 11px;font-family: verdana, arial, sans-serif;}
ol.item4Number {list-style-type: none;list-style-position: outside;color:#000000;font-weight: normal;font-size: 11px;font-family: verdana, arial, sans-serif;}
ol.item5Number {list-style-type: decimal;list-style-position: outside;color:#000000;font-weight: normal;}
ol.item5Text {list-style-type: lower-alpha;list-style-position: outside;color:#000000;font-weight: normal;}


ol.1Content {color:#6E6498;list-style-type: decimal;list-style-position: outside;line-height: 1.6em;font-weight: normal;font-size: 104%;font-family: verdana, arial, sans-serif;}
ul,ol.2Content {color:#6E6498;list-style-type: none;list-style-position: outside;line-height: 1.2em;text-indent: -30px;font-weight: normal;font-size: 100%;font-family: verdana, arial, sans-serif;}
ol.3Content {color:#6E6498;list-style-type: none;list-style-position: outside;line-height: 1em;text-indent: -50px;font-weight: normal;font-size: 100%;font-family: verdana, arial, sans-serif;}

.rowData {background: #F8F5EF;color: #000000;padding: 2px 5px;border-bottom: 3px solid #ff0000;font-weight: normal;font-size: 12px;font-family: arial, sans-serif;}

.rowWhiteData {background: #FFFFFF;color: #000000;padding: 2px 5px;border-bottom: 3px solid #ff0000;font-weight: normal;font-size: 11px;font-family: verdana, arial, sans-serif;}


.legendData {background: #F3F0E3;color: #000000;text-align: center;font-weight: normal;font-size: 11px;font-family: verdana, arial, sans-serif;}

.colourData {height: 30px;}

.rowHeaderData {background: #191970;color: #FFFFFF;padding: 3px;font-weight: normal;font-size: 11px;font-style: italic;font-family: arial, verdana, sans-serif;}

.rowHeaderOutstand {background: #F3F0E3;color:#446B75;font-weight: bold;font-style: normal;font-size: 12px;margin-top: -1px;padding: 0px 5px;font-family: verdana, arial, sans-serif;}

.tableData {color: #000000;border: solid #191970;border-width: 1px 3px 3px 1px;font-size: 12px;font-family: arial, sans-serif;}

.table1ColData {color: #000000;width: 280px;border: solid #191970;border-width: 1px 3px 3px 1px;font-size: 12px;font-family: arial, sans-serif;}

.tableOrganize {background: #F8F5EF;color: #000000;border: solid #191970;border-width: 1px 3px 3px 1px;font-size: 12px;font-family: arial, sans-serif;}

.row2HeaderData {background: #191970;color: #FFFFFF;padding: 3px;font-weight: normal;font-size: 12px;font-style: italic;font-family: verdana, arial, sans-serif;}

.rowCHeaderData {background: #191970;color: #FFFFFF;padding: 3px;text-align: center;font-weight: bold;font-size: 12px;font-style: italic;font-family: verdana, arial, sans-serif;}

.colorSample {width:150px;font-weight: normal;font-size: 11px;border: 1px solid #E1E1E1;}

.select1N {background:#F3F0E3;color:#000000;font-weight: normal;font-size: 12px;font-family: verdana, arial, sans-serif;}
.select2N {background:#F3F0E3;color:#446B75;visibility: hidden;font-weight: normal;font-size: 11px;font-family: verdana, arial, sans-serif;}

td.tableGraph {border: ridge 4px;border-spacing: 10px;padding: 3px;border-color: #FFE4C4;color:#191970;font-weight: normal;font-size: 11px;text-align: center;font-family: verdana, arial, sans-serif;}


.boxFrame {padding: 1px;border: 1px solid #8FA1A4;padding-right: 2px;}

.boxName {color: #446B75;padding: 0px 2px;font-size: 10px;font-weight: normal;text-align: center;font-family: verdana, arial, sans-serif;}


.tableBgData {background: #F3F0E3;border-bottom: 3px solid #191970;border-right: 3px solid #191970;border-top: 1px solid #749BA5;border-left: 1px solid #749BA5;padding: 5px;font-size: 10px;font-weight: normal;font-family: verdana, arial, sans-serif;}

.tableNBgData {padding: 5px;font-size: 11px;font-weight: normal;font-family: verdana, arial, sans-serif;}

.adArea {background: #000000;color: #FFFFFF;cursor: pointer;padding: 3px;line-height: 1.2em;border: 1px solid #FCBE00;text-decoration: none;text-align: center;font-size: 13px;font-weight: normal;font-family: verdana, arial, sans-serif;} 

.adOutstand {color: #FFDF00;cursor: pointer;text-decoration: none;font-size: 108%;font-weight: bold;font-family: verdana, arial, sans-serif;}

.ad2Area {background: #FCBE00;color: #191970;cursor: pointer;padding: 3px;line-height: 1.2em;border: 1px solid #191970;white-space: nowrap;text-decoration: none;text-align: center;font-size: 100%;font-weight: normal;font-family: verdana, arial, sans-serif;} 

.ad2Outstand {color: #000000;cursor: pointer;text-decoration: none;font-size: 100%;font-weight: normal;font-family: verdana, arial, sans-serif;}

.chapterTable {background: #B22222;color:#FFFFFF;line-height: 1.1em;padding: 2px 10px;border: 2px groove #EC9999;font-weight: normal;font-size: 100%;font-family: verdana, arial, sans-serif;}

.chapterCell {background: #E7E7DF;border: outset 2px #EFFFFF;padding: 2px;text-align: center;font-weight: bold;font-size: 100%;font-family: verdana, sans-serif;}

.chapterActual {background: #FFFFFF;border: solid 1px #000000;color: #002244;font-weight: normal;font-size: 11px;text-align: center;font-family: verdana, arial, sans-serif;}


a.headerLink:link {color: #9E1F1F;cursor: pointer;font-weight: bold;font-size: 100%;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.headerLink:visited {color: #9E1F1F;cursor: pointer;font-weight: bold;font-size: 100%;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.headerLink:hover {color: #FFFFFF;cursor: pointer;font-weight: bold;font-size: 100%;font-family: verdana, arial, sans-serif;}
a.headerLink:active {color: #9E1F1F;cursor: pointer;font-weight: bold;font-size: 100%;text-decoration: none;font-family: verdana, arial, sans-serif;}



a.titleLaunch:link {color:#000000;cursor: pointer;font-weight: bold;font-size: 96%;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.titleLaunch:visited {color:#000000;cursor: pointer;font-weight: bold;font-size: 96%;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.titleLaunch:hover {color:#8FA1A4;cursor: pointer;font-weight: bold;font-size: 96%;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.titleLaunch:active {color:#000000;cursor: pointer;font-weight: bold;font-size: 96%;text-decoration: none;font-family: verdana, arial, sans-serif;}

a.titleCenterLaunch:link {color:#000000;cursor: pointer;font-weight: bold;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.titleCenterLaunch:visited {color:#000000;cursor: pointer;font-weight: bold;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.titleCenterLaunch:hover {color:#FFFFFF;cursor: pointer;font-weight: bold;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.titleCenterLaunch:active {color:#000000;cursor: pointer;font-weight: bold;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}

a.Launch:link {color:#000000;cursor: pointer;font-weight: normal;font-size: 100%;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.Launch:visited {color:#000000;cursor: pointer;font-weight: normal;font-size: 100%;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.Launch:hover {color:#8FA1A4;cursor: pointer;font-weight: normal;font-size: 100%;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.Launch:active {color:#000000;cursor: pointer;font-weight: normal;font-size: 100%;text-decoration: none;font-family: verdana, arial, sans-serif;}


a.Narrow:link {color:#334048;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.Narrow:visited {color:#334048;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.Narrow:hover {color:#8FA1A4;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.Narrow:active {color:#334048;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}


a.zoneLinkHeader:link {color:#645C4A;cursor: pointer;font-weight: bold;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.zoneLinkHeader:visited {color:#645C4A;cursor: pointer;font-weight: bold;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.zoneLinkHeader:hover {color:#000000;cursor: pointer;font-weight: bold;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.zoneLinkHeader:active {color:#645C4A;cursor: pointer;font-weight: bold;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}


a.moreLink:link {color: #000000;text-decoration: none;cursor: pointer;font-size: 96%;font-weight: normal;font-family: verdana, arial, sans-serif;}
a.moreLink:visited {color: #000000;text-decoration: none;cursor: pointer;font-size: 96%;font-weight: normal;font-family: verdana, arial, sans-serif;}
a.moreLink:hover {color: #AD0600;text-decoration: underline;cursor: pointer;font-size: 96%;font-weight: normal;font-family: verdana, arial, sans-serif;}
a.moreLink:active {color: #000000;text-decoration: none;cursor: pointer;font-size: 96%;font-weight: normal;font-family: verdana, arial, sans-serif;}


a.menuSubItem:link {color:#00FFFF;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.menuSubItem:visited {color:#00FFFF;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.menuSubItem:hover {color:#00FFFF;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: underline;font-family: verdana, arial, sans-serif;}
a.menuSubItem:active {color:#00FFFF;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}


a.textLink:link {color:#FFFFFF;cursor: pointer;font-weight: normal;font-size: 100%;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.textLink:visited {color:#FFFFFF;cursor: pointer;font-weight: normal;font-size: 100%;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.textLink:hover {color:#FCE200;cursor: pointer;font-weight: normal;font-size: 100%;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.textLink:active {color:#FFFFFF;cursor: pointer;font-weight: normal;font-size: 100%;text-decoration: none;font-family: verdana, arial, sans-serif;}


a.pageLink:link {color: #344167;font-size: 12px;text-align: left;text-decoration: none;font-weight: normal;font-family: verdana,arial,sans-serif;}
a.pageLink:visited {color: #344167;font-size: 12px;text-align: left;text-decoration: none;font-weight: normal;font-family: verdana,arial,sans-serif;}
a.pageLink:hover {color: #0055EE;text-decoration: underline;text-align: left;font-size: 12px;font-weight: normal;font-family: verdana,arial,sans-serif;}
a.pageLink:active {color: #344167;font-size: 12px;text-align: left;text-decoration: none;font-weight: normal;font-family: verdana,arial,sans-serif;}


a.pagebLink:link {color: #344167;font-size: 12px;;text-align: left;text-decoration: none;font-weight: bold;font-family: verdana,arial,sans-serif;}
a.pagebLink:visited {color: #344167;font-size: 12px;;text-align: left;text-decoration: none;font-weight: bold;font-family: verdana,arial,sans-serif;}
a.pagebLink:hover {color: #0055EE;text-decoration: underline;text-align: left;font-size: 12px;;font-weight: bold;font-family: verdana,arial,sans-serif;}
a.pagebLink:active {color: #344167;font-size: 12px;;text-align: left;text-decoration: none;font-weight: bold;font-family: verdana,arial,sans-serif;}


a.noteLink:link {color: #225F90;font-size: 11px;;text-decoration: none;font-weight: normal;font-style: italic;font-family: verdana, arial, sans-serif;}
a.noteLink:visited {color: #225F90;font-size: 11px;;text-decoration: none;font-weight: normal;font-style: italic;font-family: verdana, arial, sans-serif;}
a.noteLink:hover {color: #0055EE;text-decoration: underline;font-size: 11px;;font-weight: normal;font-style: italic;font-family: verdana, arial, sans-serif;}
a.noteLink:active {color: #225F90;font-size: 11px;;text-decoration: none;font-weight: normal;font-style: italic;font-family: verdana, arial, sans-serif;}


.pageRef {color: #2A3453;font-weight: bold;font-size: 12px;;text-decoration: none;text-indent: 3px;font-family: verdana, arial, sans-serif;}
a.pageRef:link {color: #344167;cursor: pointer;font-weight: bold;font-size: 12px;;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.pageRef:visited {color: #344167;cursor: pointer;font-weight: bold;font-size: 12px;;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.pageRef:hover {color: #0055EE;cursor: pointer;font-weight: bold;font-size: 12px;;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.pageRef:active {color: #344167;cursor: pointer;font-weight: bold;font-size: 12px;;text-decoration: none;font-family: verdana, arial, sans-serif;}


a.Content1Link:link {color:#280F90;cursor: pointer;font-weight: normal;font-size: 12px;text-decoration: none;font-family: 	verdana, ;}
a.Content1Link:visited {color:#725399;cursor: pointer;font-weight: normal;font-size: 12px;text-decoration: none;font-family: verdana, ;}
a.Content1Link:hover {color:#826AE0;cursor: pointer;font-weight: normal;font-size: 12px;text-decoration: underline;font-family: verdana, ;}
a.Content1Link:active {color:#280F90;cursor: pointer;font-weight: normal;font-size: 12px;text-decoration: none;font-family: verdana, ;}


a.Content2Link:link {color:#280F90;cursor: pointer;font-weight: normal;font-size: 12px;text-decoration: none; font-family: verdana, arial, sans-serif;}
a.Content2Link:visited {color:#725399;cursor: pointer;font-weight: normal;font-size: 12px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.Content2Link:hover {color:#826AE0;cursor: pointer;font-weight: normal;font-size: 12px;text-decoration: underline;font-family: verdana, arial, sans-serif;}
a.Content2Link:active {color:#280F90;cursor: pointer;font-weight: normal;font-size: 12px;text-decoration: none;font-family: verdana, arial, sans-serif;}


a.Content3Link:link {color:#280F90;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none; font-family: verdana, arial, sans-serif;}
a.Content3Link:visited {color:#725399;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.Content3Link:hover {color:#826AE0;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: underline;font-family: verdana, arial, sans-serif;}
a.Content3Link:active {color:#280F90;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}


a.chapterContent:link {color:#000000;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.chapterContent:visited {color:#000000;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.chapterContent:hover {color:#0055AA;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.chapterContent:active {color:#000000;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}


a.rightArea2Content:link {color:#FFFFFF;border-bottom: 1px solid #000000;font-weight: normal;font-size: 100%;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.rightArea2Content:visited {color:#FFFFFF;border-bottom: 1px solid #000000;font-weight: normal;font-size: 100%;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.rightArea2Content:hover {color:#FFFFFF;border-bottom: 1px solid #000000;font-weight: normal;font-size: 100%;text-decoration: underline;font-family: verdana, arial, sans-serif;}
a.rightArea2Content:active {color:#FFFFFF;border-bottom: 1px solid #000000;font-weight: normal;font-size: 100%;text-decoration: none;font-family: verdana, arial, sans-serif;}


a.rightArea2Epigraph:link {color:#FFFFFF;cursor: pointer;font-weight: bold;font-size: 11px;text-decoration: none;padding: 0px 5px;font-family: verdana, arial, sans-serif;}
a.rightArea2Epigraph:visited {color:#FFFFFF;cursor: pointer;font-weight: bold;font-size: 11px;text-decoration: none;padding: 0px 5px;font-family: verdana, arial, sans-serif;}
a.rightArea2Epigraph:hover {color:#FDE390;cursor: pointer;font-weight: bold;font-size: 11px;border-left: 4px solid #FFFFFF;padding: 0px 5px;font-family: verdana, arial, sans-serif;}
a.rightArea2Epigraph:active {color:#FFFFFF;cursor: pointer;font-weight: bold;font-size: 11px;text-decoration: none;padding: 0px 5px;font-family: verdana, arial, sans-serif;}


a.headerLinkButton:link {color:#FFFFFF;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.headerLinkButton:visited {color:#FFFFFF;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.headerLinkButton:hover {color:#F4C236;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.headerLinkButton:active {color:#FFFFFF;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}


a.linkTable1:link {color:#000000;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.linkTable1:visited {color:#000000;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.linkTable1:hover {color:#000000;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: underline;font-family: verdana, arial, sans-serif;}
a.linkTable1:active {color:#000000;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}



/* MENU */

.launchTitle {color:#000000;font-weight: bold;font-size: 11px;font-family: verdana, arial, sans-serif;}
.launchSignTitle {position: relative;top: -11px;color:#000000;font-weight: bold;font-size: 11px;font-family: verdana, arial, sans-serif;}


a.menuItem:link {color:#0E3C48;cursor: pointer;font-weight: normal;font-size: 12px;text-decoration: none;text-indent: -2px;font-family: verdana, arial, sans-serif;}
a.menuItem:visited {color:#0E3C48;cursor: pointer;font-weight: normal;font-size: 12px;text-decoration: none;text-indent: -2px;font-family: verdana, arial, sans-serif;}
a.menuItem:hover {color:#018A9A;cursor: pointer;font-weight: normal;font-size: 12px;text-decoration: none;text-indent: -2px;font-family: verdana, arial, sans-serif;}
a.menuItem:active {color:#0E3C48;cursor: pointer;font-weight: normal;font-size: 12px;text-decoration: none;text-indent: -2px;font-family: verdana, arial, sans-serif;}


a.subMenuItem:link {color:#000000;cursor: pointer;font-weight: normal;font-size: 11px;line-height: 0.8em;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.subMenuItem:visited {color:#000000;cursor: pointer;font-weight: normal;font-size: 11px;line-height: 0.8em;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.subMenuItem:hover {color:#000000;cursor: pointer;font-weight: normal;font-size: 11px;line-height: 0.8em;text-decoration: underline;font-family: verdana, arial, sans-serif;}
a.subMenuItem:active {color:#000000;cursor: pointer;font-weight: normal;font-size: 11px;line-height: 0.8em;text-decoration: none;font-family: verdana, arial, sans-serif;}


.textSearch:link {color:#FFFFFF;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.textSearch:link {color:#FFFFFF;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.textSearch:visited {color:#FFFFFF;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.textSearch:hover {color:#FFDF00;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}
a.textSearch:active {color:#FFFFFF;cursor: pointer;font-weight: normal;font-size: 11px;text-decoration: none;font-family: verdana, arial, sans-serif;}


.ventanitaTextB {color:#29BDD6;font-weight: bold;text-decoration: none;font-size: 16px;font-family: tahoma, ;}
a.ventanitaTextA:link {color:#DE9C5A;cursor: pointer;text-decoration: none;font-weight: bold;font-size: 14px;font-family: tahoma, ;}
a.ventanitaTextA:visited {color:#DE9C5A;cursor: pointer;text-decoration: none;font-weight: bold;font-size: 14px;font-family: tahoma, ;}
a.ventanitaTextA:hover {color:#DE9C5A;cursor: pointer;text-decoration: none;font-weight: bold;font-size: 14px;font-family: tahoma, ;}
a.ventanitaTextA:active {color:#DE9C5A;cursor: pointer;text-decoration: none;font-weight: bold;font-size: 14px;font-family: tahoma, ;}


caption.rText
{
color:#000000;font-size: 100%;font-family: tahoma, ;
}
-->