<!--

BODY {
background: #E1E1C8;
color:#073C5A;
margin: 0px;
border-left: 10px solid #E1E1C8;
border-top: 10px solid #E1E1C8;
border-right: 0px solid #E1E1C8;
border-bottom: 10px solid #E1E1C8;

scrollbar-base-color: #89A1A4;
scrollbar-face-color: #191970;
scrollbar-highlight-color: #CADBDD; 
scrollbar-arrow-color: #CADBDD;
scrollbar-track-color: #89A1A4;
scrollbar-shadow-color: #5F99A0; 
scrollbar-darkshadow-color: #; 
scrollbar-3dlight-color: #;
font-size:100%;font-family: verdana, arial, sans-serif;}

/* Basic Colors:
BLUE-BAR (Old): #191970
BLUE-BAR: #38435F
LINKS: #191970
MENU-0-Off-BG: #FFDF00
MENU-0-Off-COLOR: #000000
MENU-0-Over-BG: #FFDF00
MENU-0-Over-COLOR: #003366
MENU-0-BORDER: #FFDF00
MENU-1-Off-BG: #FFF78A
MENU-1-Off-COLOR: #000000
MENU-1-Over-BG: #191970
MENU-1-Over-COLOR: #FFFF80
MENU-1-BORDER: #E9D07C 
MENU-2-Off-BG: #E1E1C8
MENU-2-Off-COLOR: #000000
MENU-2-Over-BG: #006699
MENU-2-Over-COLOR: #FFFFFF
MENU-2-BORDER: #C5C0A3 

HEADER-AREA: #191970
TITLE-PAGE: #851920
BUTTON-ACTION: #55707D
BUTTON-OVER-ACTION: #3F535C
squareTable	 ... background: #191970
squareHeader ...  background: #191970
squareHeader ...  Text: #FCBE00
ad2Area ...  background: #FCBE00
ad2Area ...  Text: #191970
zoneHeader ... background: #8FA1A4
chapterTitleRest... #94B1BA
BUTTON-BASE...  #FEBE16
buttonOverAction... #8FA1A4

padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 20px;

*/


.Structure {table-layout: fixed;}

.pagesHeaderTitle {padding-left: 422px;height: 42px;vertical-align:baseline;}

.menuHeader {position: absolute;top: 8px;left: 7px;background-color: #FFFF00;cursor: pointer;border: 2px white solid;width: 200px;z-index: 2;font-size:11px;font-family: verdana, arial, sans-serif;}

.menuContainer {position: relative;top: 220px;left: -6px;visibility: visible;overflow: scroll;width: 200px;z-index: 200;}

.titleContainer {position: relative;top: 40px;left: 480px;background: #E1E1C8;height: 45px;border: 1px red solid;width: 180px;z-index: 100;text-align: center;}

.mainTable{
width: 810px;	
}

.barContainer {
	position: absolute;
	top: 2px;
	left: 6px;
	background: #191970;
	color: #FEBE16;
	z-index: 1;
	padding: 1px;
	border: #FEBE16 groove 1px;
	height: 18px;
	width: 800px;
	vertical-align: middle;
	font-size: 11px;
	font-family: verdana, arial, sans-serif;
}


.pageMain 
{
background: #FFFFFF;color: #000000;padding: 10px;border: #191970 inset 1px;width: 810px;font-size: 80%;font-family: verdana, arial, sans-serif;
}

.pageShortMain {position: relative;top: 18px;background: #FFFFFF;color: #000000;padding: 10px;border: #191970 inset 1px;width: 800px;height: 380px;font-size: 80%;font-family: verdana, arial, sans-serif;}



.bgLogo {background: #E1E1C8;padding: 2px 14px;}

.iconsBar {background: #636876;border: gray 1px solid;padding-left: 4px;float: right;text-align: center;}

.icoPageOff {background-image:url(../images/icoPageOff.gif);background-repeat:no-repeat;background-position: 1px 2px;height: 21px;width: 21px;cursor: pointer;}
.icoPageOn {background-image:url(../images/icoPageOn.gif);background-repeat:no-repeat;background-position: 1px 2px;height: 21px;width: 21px;cursor: pointer;}

.fitBottom {line-height: 10px;}
.fitGapBottom {line-height: 50px;}
.fitRight {background: #E1E1C8;width: 5px;}

.listSpaceLeft {padding-left: 120px;font-size: 100%;font-family: verdana, arial, sans-serif;}



.buttonGoogleOff {background-image:url(../images/googleLogo.gif);background-repeat:no-repeat;background-position: 50% -1px;height: 20px;width:70px;border: 2px outset #636876;}
.buttonGoogleOver {background-image:url(../images/googleLogo.gif);background-repeat:no-repeat;background-position: 50% -1px;height: 20px;width:70px;border: 2px inset #636876;}

/*
.buttonOff {background-image:url(../images/buttonOff1.gif);background-repeat:no-repeat;height: 22px;}
.buttonOver {background-image:url(../images/buttonOver1.gif);background-repeat:no-repeat;height: 21px;width: 21px;}
*/
.buttonOff {background-image:url(../images/buttonOff.gif);background-repeat:no-repeat;height: 17px;width:17px;}
.buttonOn {background-image:url(../images/buttonOn.gif);background-repeat:no-repeat;height: 17px;width:17px;}

.buttonAction {background: #55707D;color:#FFFFFF;cursor: pointer;font-weight:normal; font-size:11px;text-align: center;vertical-align: middle;border: 2px outset #8FA8B4;padding: 1px 1px;text-decoration: none;font-family:verdana, ;}

.buttonOverAction {background: #3F535C;color:#FFFFFF;cursor: pointer;font-weight:normal; font-size:11px;text-align: center;vertical-align: middle;border: 2px inset #8FA8B4;padding: 1px 4px;text-decoration: none;font-family:verdana, ;}



.toolsBarArea {position: relative; left: 2px;background:#D4D0C8;border: 2px groove #F3EFE7;}
.toolsBarBottomArea {position: relative; left: 184px;background:#D4D0C8;border: 2px groove #F3EFE7;}
.toolsBarOff {background:#D4D0C8;color:#000000;cursor: pointer;border: 2px outset #F3EFE7;font-weight: normal;font-size: 12px;text-align: center;padding: 1px 3px;font-family: arial, verdana, sans-serif;}
.toolsBarOn {background:#D4D0C8;color:#000000;cursor: pointer;border: 2px inset #F3EFE7;font-weight: normal;font-size: 12px;text-align: center;padding: 1px 3px;font-family: arial, verdana, sans-serif;}
.toolsBarOver {background:#F4F0E8;color:#000000;border: 2px inset #F3EFE7;font-weight: normal;font-size: 12px;text-align: center;padding: 1px 3px;font-family: arial, verdana, sans-serif;}

.layerContent1 {position: relative;left: 3px;top: 15px;z-index: 2;width: 600px;display: block;font-size: 80%;font-family: verdana, arial, sans-serif;}
.layerContent2 {position: relative;left: 3px;top: 15px;z-index: 1;width: 600px;display: none;font-size: 80%;font-family: verdana, arial, sans-serif;}
.layerContent3 {position: relative;left: 3px;top: 15px;z-index: 1;width: 600px;display: none;font-size: 80%;font-family: verdana, arial, sans-serif;}
.layerContent4 {position: relative;left: 3px;top: 15px;z-index: 1;width: 600px;display: none;font-size: 80%;font-family: verdana, arial, sans-serif;}
.layerContent5 {position: relative;left: 3px;top: 15px;z-index: 1;width: 600px;display: none;font-size: 80%;font-family: verdana, arial, sans-serif;}
.layerContent6 {position: relative;left: 3px;top: 15px;z-index: 1;width: 600px;display: none;font-size: 80%;font-family: verdana, arial, sans-serif;}
.layerContent7 {position: relative;left: 3px;top: 15px;z-index: 1;width: 600px;display: none;font-size: 80%;font-family: verdana, arial, sans-serif;}
.layerContent8 {position: relative;left: 3px;top: 15px;z-index: 1;width: 600px;display: none;font-size: 80%;font-family: verdana, arial, sans-serif;}
.layerContent9 {position: relative;left: 3px;top: 15px;z-index: 1;width: 600px;display: none;font-size: 80%;font-family: verdana, arial, sans-serif;}
.layerContent10 {position: relative;left: 3px;top: 15px;z-index: 1;width: 600px;display: none;font-size: 80%;font-family: verdana, arial, sans-serif;}


.pagesDetail {vertical-align: top;}



.selectBox {text-align: right;}

.tableTallCell {
	background: #FFFFFF;
	border: 1px dotted #AFC5CC;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}

.cartSample {width: 160px;height: 24px;}

.checklistTable {text-align: right;background: #F6F2DD;font-weight: normal;font-size: 100%;font-family: verdana, arial, sans-serif;}

.checklistHeaderTable {background-image:url(../images/checkTableHeader.gif);background-repeat:no-repeat;background-position: 0px 0px;height: 70px;vertical-align: top;}

.checklistHeaderRight {border-top: 1px solid #000000;border-right: 1px solid #000000;}

.checklistBottomCell {background: #F6F2DD;color: #000000;padding: 0px 20px;text-align: left;border-left: 1px solid #000000;border-right: 1px solid #000000;border-bottom: 1px solid #000000;}

.checklistHeaderText {list-style-type: decimal;list-style-position: outside;color:#C88C00;font-weight: bold;font-size:11px;margin-right: 15px;font-family: verdana, arial, sans-serif;}

.checkAttractHeader {text-align: right;}

.attractFloatUp {float: right;margin-top: -5px;margin-right: 3px;width: 600px;}
.tableFloatUp {float: right;margin-top: -21px;margin-right: 0px;}

.checkAttractTable {background: #F8F5EF;padding-left: 40px;padding-right: 14px;border-left: 1px solid #F1AE49;border-top: 1px solid #F1AE49;border-right: 2px solid #F1AE49;border-bottom: 2px solid #F1AE49;font-size: 100%;font-family: verdana, arial, sans-serif;}
.checkAttract2Table {background: #FFFFFF;padding-left: 40px;padding-right: 14px;border-left: 1px solid #C1C1C1;border-top: 1px solid #C1C1C1;border-right: 2px solid #90ABAD;border-bottom: 2px solid #90ABAD;font-size: 100%;font-family: verdana, arial, sans-serif;}

.checkAttractList {margin-left: 50px;}

.rightArea2Table {background: #E8EDED;table-layout: fixed;border: 1px solid #1D4C55;padding: 2px;margin-top: 3px;}

.rightAreaWTable {background: #FFFFFF;table-layout: fixed;padding: 1px 3px;line-height: 0.9em;margin-top: 6px;border: 1px solid #1D4C55;}

.rightArea2Header {background-image:url(../images/rightArea2Bg.gif);background-repeat:repeat-x;color:#1D4C55;height: 17px;vertical-align: baseline;font-size:10px;font-weight: bold;font-family:verdana, arial, sans-serif;}

.rightArea2Row {height: 12px;}

.rightArea2Cell {background: #8FA1A4;color:#FFFFFF;padding: 0px 3px;font-weight:normal;font-size: 10px;text-decoration: none;font-family: verdana, arial, sans-serif;}

.pagesContIco {background-image:url(../images/bgContIco.gif);background-repeat:no-repeat;color:#F8DA85;cursor: pointer;font-weight:normal; font-size:10px;text-align: center;vertical-align: middle;font-family:verdana, ;}

.pagesOnContIco {background-image:url(../images/bgOnContIco.gif);background-repeat:no-repeat;color:#F8DA85;cursor: pointer;font-weight:normal; font-size:10px;text-align: center;vertical-align: middle;font-family:verdana, ;}

.tableGraph {table-layout: auto;border-collapse: separate;border-spacing: 0px;empty-cells: show;padding: 10px 0px;}

td.emptyGraph {background-image:url(../images/emptyGraphBg.gif);background-repeat:no-repeat;background-position: 0% 50%;}

.practiceExcelent {background:#0004B0;color:#FFFFFF;width: 70px;padding: 0px 3px;border: 1px solid #000000;font-weight:normal;font-size: 10px;text-align: right;font-family: verdana, arial, sans-serif;}
.practiceGood {background:#01861D;color:#FFFFFF;width: 70px;padding: 0px 3px;border: 1px solid #000000;font-weight:normal;font-size: 10px;text-align: right;font-family: verdana, arial, sans-serif;}
.practiceImprove {background:#DDA700;color:#FFFFFF;width: 70px;padding: 0px 3px;border: 1px solid #000000;font-weight:normal;font-size: 10px;text-align: right;font-family: verdana, arial, sans-serif;}
.practiceUgly {background:#C41800;color:#FFFFFF;width: 70px;padding: 0px 3px;border: 1px solid #000000;font-weight:normal;font-size: 10px;text-align: right;font-family: verdana, arial, sans-serif;}
.practiceCrazy {background:#000000;color:#FFFFFF;width: 70px;padding: 0px 3px;border: 1px solid #000000;font-weight:normal;font-size: 10px;text-align: right;font-family: verdana, arial, sans-serif;}


.Heading1 {color: #36648B;font-size:24px;font-weight: bold;font-family: verdana, arial, sans-serif;}
.Heading2 {color: #53868B;font-size:24px;font-weight: bold;font-family: verdana, arial, sans-serif;}
.Heading3 {color: #483D8B;font-size:24px;font-weight: bold;font-family: verdana, arial, sans-serif;}
.Heading4 {color: #00688B;font-size:24px;font-weight: bold;font-family: verdana, arial, sans-serif;}
.Heading5 {color: #191970;font-size:24px;font-weight: bold;font-family: verdana, arial, sans-serif;}



.searchResult {padding: 20px;}






-->