#div1 {
	/* Relleno individual */
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    border-style: solid;
}
#div2 {
	/* Relleno abreviado */
    padding: 50px 30px 50px 80px;
    border-style: solid;
}