<!--

.onlyCell {color: #000000;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}

.fuchsiaCell {background: fuchsia;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.pinkCell {background: pink;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.mistyroseCell {background: mistyrose;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.hotpinkCell {background: hotpink;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.lavenderCell {background: lavender;color: #000000;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans--serif;}
.lavenderblushCell {background: lavenderblush;color: #000000;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans--serif;}

.redCell {background: red;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.crimsonCell {background: crimson;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.darkredCell {background: darkred;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.orangeredCell {background: orangered;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}

.orangeCell {background: orange;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}

.yellowCell {background: yellow;color: #000000;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.yellowText {color: yellow;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}

.darkgreenCell {background: darkgreen;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.greenCell {background: green;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.lightgreenCell {background: lightgreen;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.springgreenCell {background: springgreen;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.mediumseagreenCell {background: mediumseagreen;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.tealCell {background: teal;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.limeCell {background: lime;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.turquoiseCell {background: turquoise;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.darkturquoiseCell {background: darkturquoise;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.cadetblueCell {background: cadetblue;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.cadetblueText {color: cadetblue;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.turquoiseText {color: turquoise;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.paleturquoiseText {color: paleturquoise;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}


.blueCell {background: blue;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.darkblueCell {background: darkslateblue;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.lightblueCell {background: lightblue;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.skyblueCell {background: skyblue;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.mediumblueCell {background: mediumblue;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.steelblueCell {background: steelblue;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.darkslateblueCell {background: darkslateblue;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.indigoCell {background: indigo;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}

.purpleCell {background: purple;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.thistleCell {background: thistle;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.violetCell {background: violet;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.darkvioletCell {background: darkviolet;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.orchidCell {background: orchid;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.palevioletredText {color: palevioletred;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.palevioletredCell {background: palevioletred;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}


.lavenderCell {background: lavender;color: #000000;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-
serif;}

.whiteCell {background: white;color: #000000;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.silverCell {background: silver;color: #000000;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}

.goldCell {background: gold;color: #000000;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.goldenrodCell {background: goldenrod;color: #000000;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.khakiCell {background: khaki;color: #000000;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}

.blackCell {background: black;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}

.grayCell {background: gray;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.lightgreyCell {background: lightgrey;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.slategrayCell {background: slategray;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.darkslategrayCell {background: darkslategray;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.darkgrayCell {background: darkgray;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}

.brownCell {background: brown;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.siennaCell {background: sienna;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.peruCell {background: peru;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}
.tanCell {background: tan;color: #FFFFFF;font-weight: normal;font-size:10px;font-family: verdana,helvetica,sans-serif;}


.contrastValue1 {background: #0190FC;}
.contrastValue2 {background: #5FEEFF;}

.contrastSaturation1 {background: #E7CE00;}
.contrastSaturation2 {background: #B6A700;}



-->